{% macro date_fmt(dt) %}{{ dt.strftime('%a %b %d, %Y') }}{% endmacro %}
{% macro time_fmt(dt) %}{{ dt.strftime('%I:%M %p').lstrip('0') }}{% endmacro %}
{% with %}
{% set start_date = date_fmt(item.start_time) %}{% set end_date = date_fmt(item.end_time) %}{% set start_time = time_fmt(item.start_time) %}{% set end_time = time_fmt(item.end_time) %}
<article
    id="{{ item.start_time.timestamp()|int }} | {{ item.title }}"
    class="{% if item.is_custom_item %}feed-list-item-custom{% else %}feed-list-item{% endif %}"
    data-start-date="{{ start_date }}"
    data-start-time="{{ start_time }}"
    data-end-date="{{ end_date }}"
    data-end-time="{{ end_time }}"
    {% if item.address %}data-address="{{ item.address }}"{% endif %}
>
    <h2>{{ item.title }}</h2>
    {% if item.use_description %}
    <section class="item-description">
        <dl>
            {% for desc_item in item.description_list -%}
            <dt>{{ desc_item.title }}</dt>
            <dd>
                {% for line in desc_item.content_lines -%}
                <p>{{ line }}</p>
                {%- endfor %}
            </dd>
            {%- endfor %}
        </dl>
    </section>
    {% else %}
    <section class="item-date-times">
        <div class="item-date">{{ start_date }}</div>
        <div class="item-time">{{ start_time }} to {{ end_time }}</div>
    </section>
    {% endif %}
    {% if item.is_custom_item and item.has_html %}
    {{ item.html_content|safe }}
    {% endif %}
</article>
{% endwith %}
