[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
ipython = "*"
python-dotenv = "*"
aiohttp-jinja2 = "*"
loguru = "*"
pyquery = "*"
brightsign-stuff = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.11"
