body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}
#main,.item-container,.feed-list-item,.item-date-times{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main{
    height: 98vh;
    text-align: center;
    font-size: 1.2em;
}
.item-container{
    margin-bottom: auto;
}
.feed-list-item{
    background-color: rgb(247 247 247 / 20%);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 1em;
}
.item-date-times{
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
    font-size: 1.2em;
}
.item-date{
    padding-right: 1em;
}
.item-time{
    padding-left: 1em;
}
section.item-description{
    padding-left: 1em;
    padding-bottom: 1em;
    text-align: initial;
    align-self: flex-start;
}
.item-description dt{
    font-weight: bold;
}
.item-description dd{
    margin-bottom: 1em;
}
.item-description dd > p{
    margin-block-start: 0;
    margin-block-end: 0;
}
.message-log{
    display: none;
    width: 100%;
    max-height: 25%;
    margin: .5em;
    overflow-y: auto;
    text-align: left;
    align-self: flex-start;
}
.message-log p{
    font-family: monospace;
}